.DS_Store

/logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/backup
/private_scripts
/docs/_build

# Scala worksheet
*.sc

activator*

*.bam*
*.sam

/resources/bam/readme.txt
